*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{

    background-color:bisque;
    margin: 15px;
    padding: 15px;
   
}
.nav-bar h2{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    
    

    
}

.search-box{
    display: flex;
    justify-content: right;
    justify-items: flex-start;
    gap: 5px;
    
    

}
button{
    background-color: green;
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    /* border-style: groove; */
    border: 2px solid green;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    color: aliceblue;
}
.btn{
    background-color: red;
    color: aliceblue;
    padding: 5px;
    border: red 2px solid;
    border-radius: 12px;
}
.container{
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding: 15px 200px 15px 200px;
    margin: 15px;
}
.card{
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    
   
    
}
.img-box img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}
.card h3{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
.container .card a{
    text-decoration: none;
    color: black;
}
.container .card a:hover{
    font-size: 20px;
    
}
.container .card .tags{
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}
.container .card .tags .blue{
    font-weight: bold;
    background-color: blue;
    border-color: blue;
}
.container .card .tags .non-veg{
    background-color: rgb(255, 68, 0);
    border-color: rgb(255, 68, 0);
    font-weight: bold;
}
.container .card .tags .min{
    background-color: rgb(10, 134, 43);
    border-color: rgb(10, 134, 43);
    font-weight: bold;
}